<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.building_survey_app">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="com.example.building_survey_app.fileProvider"
        android:exported="false"
        android:grantUriPermissions="true"
            tools:replace="android:authorities" >
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>

        <activity android:name=".listview_floorListItem"></activity>
        <activity android:name=".listview_flawListItem" />
        <activity android:name=".Activities.FlawList.FlawListActivity" />
        <activity android:name=".Activities.Popups.PopupAddingFloorList" />
        <activity android:name=".Activities.Popups.FullScreenActivity"/>
        <activity android:name=".Activities.FlawCheck.FlawCheckActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activities.New_Edit_Project.NewProjectActivity" />
        <activity android:name=".Activities.Original_Project.OriginalProjectActivity" />
        <activity android:name=".Activities.MainPage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>